<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>

</head>
<body>
<h1 style="color:red;">{{  notice  }}</h1>
<div style = 'text-align: center;'><font color="#4169E1" size="10">管理界面</font></div>
<div class="a">
    <table style = 'text-align: center; width: 100%' border='1'>
        <tr><th>姓名</th><th>班级</th><th>全国学籍号</th><th>教育ID</th><th>户口所在地</th><th>性别</th><th>出生年月</th></tr>
        {% for message in result %}
            <tr><td>{{  message[0]  }}</td><td>{{  message[1]  }}</td><td>{{  message[2]  }}</td><td>{{  message[3]  }}</td><td>{{  message[4]  }}</td><td>{{  message[5]  }}</td><td>{{  message[6]  }}</td></tr>
        {% endfor %}
    </table>
    <br/>
    <div class="app" style="text-align: center;">
            <div style="display:inline-block;width: 150px"> <a href="/managerAdd"><button type="submit" class="login-btn register-btn" id="button", style="width: 150px">添加用户</button></a></div>

    <div style="display:inline-block;margin-left:10px;width: 150px"> <a href="/managerDel"><button type="submit" class="login-btn register-btn" id="button", style="width: 150px">删除用户</button></a></div>

    <div style="display:inline-block;margin-left:10px;width: 150px"> <a href="/managerEdit"><button type="submit" class="login-btn register-btn" id="button", style="width: 150px">编辑用户</button></a></div>
    </div>
    <br/>
</div>
</body>
</html>